---
import { SEO, type SEOProps } from "astro-seo";

// for better seo results
const defaults: SEOProps = {
  title: "Astro + Scalar",
  description: "Astro is a JavaScript web framework optimized for building fast, content-driven websites.",
  charset: "UTF-8",
  extend: {
    meta: [{ name: "viewport", content: "width=device-width, initial-scale=1.0" }],
    link: [{ rel: "icon", type: "image/svg+xml", href: `/favicon.svg` }],
  },
  openGraph: {
    basic: {
      title: "Astro",
      type: "website",
      image: `/favicon.svg`,
    },
    optional: {
      description: "Astro is a JavaScript web framework optimized for building fast, content-driven websites.",
    },
  },
};

type Props = Partial<Pick<SEOProps, "title" | "description"> & { themeColor: string }>;

const {
  title = defaults.title,
  description = defaults.description,
  themeColor = "#8D46E7",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      {...defaults}
      {title}
      titleDefault={defaults.title}
      titleTemplate={`%s | ${defaults.title}`}
      {description}
      extend={{
        ...defaults.extend,
        meta: [...(defaults.extend?.meta ?? []), { name: "theme-color", content: themeColor }],
      }}
      openGraph={{
        ...defaults.openGraph,
        basic: {
          ...defaults.openGraph?.basic!,
          title: title ?? defaults.openGraph?.basic?.title!,
        },
        optional: {
          ...defaults.openGraph?.optional!,
          description: description ?? defaults.openGraph?.optional?.description!,
        },
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
